openapi: 3.1.0
info:
  contact:
    url: https://newsrank.ai
  description: |
    The NewsRank API provides programmatic access to real-time news articles, stories, entities, and search across thousands of sources.

    All endpoints return JSON. Paginated endpoints include `total`, `offset`, and `limit` fields in the response.
  title: NewsRank API
  version: 1.0.0
servers:
- description: Production
  url: https://api.newsrank.ai/v1
security:
- apiKeyQuery: []
- bearerAuth: []
paths:
  /api/v1/items:
    get:
      description: "Retrieve a paginated list of articles with optional filters for\
        \ category, keyword, source, content status, and date range."
      operationId: listArticles
      parameters:
      - description: Number of articles to return
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 40
          type: integer
        style: form
      - description: Number of articles to skip
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Filter by category
        example: politics
        explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      - description: Filter by keyword in title
        example: climate
        explode: true
        in: query
        name: keyword
        required: false
        schema:
          type: string
        style: form
      - description: Filter by source name
        example: Reuters
        explode: true
        in: query
        name: source
        required: false
        schema:
          type: string
        style: form
      - description: Filter by content extraction status
        example: has_content
        explode: true
        in: query
        name: content_status
        required: false
        schema:
          enum:
          - has_content
          - no_content
          - failed
          type: string
        style: form
      - description: Start of date range (Unix timestamp in milliseconds)
        example: 1708300800000
        explode: true
        in: query
        name: date_from
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: End of date range (Unix timestamp in milliseconds)
        example: 1708387200000
        explode: true
        in: query
        name: date_to
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Field to sort by
        example: discovered
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: discovered
          enum:
          - discovered
          - published
          type: string
        style: form
      - description: Sort direction
        example: desc
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Include embedding vectors in each article. Requires Pro tier
          or higher.
        explode: true
        in: query
        name: include_embeddings
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Embedding output format (only used when include_embeddings=true)
        explode: true
        in: query
        name: embedding_format
        required: false
        schema:
          default: json
          enum:
          - json
          - base64
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listArticles_200_response'
          description: Paginated list of articles
      summary: List articles
      x-group: Articles
  /api/v1/item:
    get:
      description: Retrieve a single article by its URL hash or slug. Provide either
        `url_hash` or `slug` as a query parameter.
      operationId: getArticle
      parameters:
      - description: The URL hash of the article
        example: a1b2c3d4e5
        explode: true
        in: query
        name: url_hash
        required: false
        schema:
          type: string
        style: form
      - description: The slug of the article
        example: supreme-court-rules-on-landmark-climate-case
        explode: true
        in: query
        name: slug
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getArticle_200_response'
          description: Single article
      summary: Get a single article
      x-group: Articles
  /api/v1/content:
    get:
      description: "Retrieve the extracted full-text content of an article by its\
        \ URL hash. Includes the article body, images, summaries, and tags."
      operationId: getArticleContent
      parameters:
      - description: URL hash of the article
        example: a1b2c3d4e5
        explode: true
        in: query
        name: url_hash
        required: true
        schema:
          type: string
        style: form
      - description: Maximum number of characters to return for the text body (1-200000)
        example: 10000
        explode: true
        in: query
        name: max_chars
        required: false
        schema:
          default: 50000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleContent'
          description: Article content
      summary: Get article content
      x-group: Articles
  /api/v1/stories:
    get:
      description: "Retrieve a paginated list of news stories, optionally filtered\
        \ by category."
      operationId: listStories
      parameters:
      - description: Number of stories to return
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - description: Number of stories to skip
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Filter by category
        example: technology
        explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      - description: Include centroid embedding vectors in each story. Requires Pro
          tier or higher.
        explode: true
        in: query
        name: include_embeddings
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Embedding output format (only used when include_embeddings=true)
        explode: true
        in: query
        name: embedding_format
        required: false
        schema:
          default: json
          enum:
          - json
          - base64
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listStories_200_response'
          description: Paginated list of stories
      summary: List stories
      x-group: Stories
  /api/v1/stories/ranked:
    get:
      description: Retrieve top stories ranked by relevance and recency.
      operationId: listRankedStories
      parameters:
      - description: Number of ranked stories to return
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - description: Include centroid embedding vectors in each story. Requires Pro
          tier or higher.
        explode: true
        in: query
        name: include_embeddings
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Embedding output format (only used when include_embeddings=true)
        explode: true
        in: query
        name: embedding_format
        required: false
        schema:
          default: json
          enum:
          - json
          - base64
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listStories_200_response'
          description: Ranked list of stories
      summary: List ranked stories
      x-group: Stories
  /api/v1/stories/{id}:
    get:
      description: Retrieve a single story by its numeric ID or slug. Returns full
        story detail including articles and developments timeline.
      operationId: getStory
      parameters:
      - description: Story ID (integer) or slug (string)
        example: supreme-court-climate-ruling
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Include embedding vectors for the story centroid and each member
          article. Requires Pro tier or higher.
        explode: true
        in: query
        name: include_embeddings
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Embedding output format (only used when include_embeddings=true)
        explode: true
        in: query
        name: embedding_format
        required: false
        schema:
          default: json
          enum:
          - json
          - base64
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryDetail'
          description: Full story detail with optional embeddings
      summary: Get a single story
      x-group: Stories
  /api/v1/stories/{id}/developments:
    get:
      description: Retrieve the timeline of developments for a story. Each development
        represents a significant change or update in the story's progression.
      operationId: listStoryDevelopments
      parameters:
      - description: Story ID (integer) or slug (string)
        example: "1523"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listStoryDevelopments_200_response'
          description: List of story developments
      summary: List story developments
      x-group: Stories
  /api/v1/stories/{id}/updates:
    get:
      description: "Check for new articles and changes to a story since a given timestamp.\
        \ Returns new articles, sources, entities, and a significance assessment."
      operationId: getStoryUpdates
      parameters:
      - description: Story ID (integer) or slug (string)
        example: "1523"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Unix timestamp in milliseconds to check for updates since
        example: 1708300800000
        explode: true
        in: query
        name: since_ms
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryUpdateSignal'
          description: Story update signal
      summary: Get story updates since timestamp
      x-group: Stories
  /api/v1/search:
    get:
      description: Full-text search across all articles. Returns matching articles
        sorted by relevance.
      operationId: searchArticles
      parameters:
      - description: Search query
        example: climate change legislation
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - description: Number of results to return
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: Number of results to skip
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchArticles_200_response'
          description: Search results
      summary: Search articles
      x-group: Search
  /api/v1/search/full:
    get:
      description: Advanced full-text search that combines FTS results with entity-matched
        articles. Automatically detects entity names in the query and merges relevant
        articles from those entities.
      operationId: searchFull
      parameters:
      - description: Search query
        example: John Roberts climate ruling
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - description: Number of results to return
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: Number of results to skip
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchFull_200_response'
          description: Search results with entity matching
      summary: Full-text search with entity matching
      x-group: Search
  /api/v1/search/suggest:
    get:
      description: Get autocomplete suggestions for a partial search query.
      operationId: searchSuggest
      parameters:
      - description: Partial search query
        example: clim
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - description: Number of suggestions to return
        example: 5
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchSuggest_200_response'
          description: Autocomplete suggestions
      summary: Autocomplete suggestions
      x-group: Search
  /api/v1/entities:
    get:
      description: "Retrieve a paginated list of entities (people, organizations,\
        \ locations) with optional filters."
      operationId: listEntities
      parameters:
      - description: Search query to filter entities by name
        example: Roberts
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Filter by entity type
        example: person
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - person
          - org
          - location
          type: string
        style: form
      - description: Filter by subcategory
        example: politician
        explode: true
        in: query
        name: subcategory
        required: false
        schema:
          type: string
        style: form
      - description: Number of entities to return
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 60
          type: integer
        style: form
      - description: Number of entities to skip
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listEntities_200_response'
          description: Paginated list of entities
      summary: List entities
      x-group: Entities
  /api/v1/entities/trending:
    get:
      description: "Retrieve entities currently trending in the news, ranked by recent\
        \ mention frequency."
      operationId: listTrendingEntities
      parameters:
      - description: Number of trending entities to return
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listTrendingEntities_200_response'
          description: List of trending entities
      summary: List trending entities
      x-group: Entities
  /api/v1/entities/politicians:
    get:
      description: Retrieve entities with the "politician" subcategory. A convenience
        endpoint equivalent to filtering entities by `subcategory=politician`.
      operationId: listPoliticians
      parameters:
      - description: Number of entities to return
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 60
          type: integer
        style: form
      - description: Number of entities to skip
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listPoliticians_200_response'
          description: Paginated list of politician entities
      summary: List politician entities
      x-group: Entities
  /api/v1/entities/{id}:
    get:
      description: Retrieve a single entity by its numeric ID or slug.
      operationId: getEntity
      parameters:
      - description: Entity ID (integer) or slug (string)
        example: john-roberts
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityDetail'
          description: Entity detail
      summary: Get a single entity
      x-group: Entities
  /api/v1/entities/{id}/articles:
    get:
      description: "Retrieve a paginated list of articles that mention a specific\
        \ entity, ordered by recency."
      operationId: listEntityArticles
      parameters:
      - description: Entity ID (integer) or slug (string)
        example: john-roberts
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Number of articles to return (max 100)
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: Number of articles to skip
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listEntityArticles_200_response'
          description: Paginated list of articles
      summary: List articles mentioning an entity
      x-group: Entities
  /api/v1/sources:
    get:
      description: Retrieve the complete list of news sources tracked by NewsRank.
      operationId: listSources
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Source'
                type: array
          description: Array of sources
      summary: List all sources
      x-group: Sources & Categories
  /api/v1/categories:
    get:
      description: Retrieve the list of all article categories.
      operationId: listCategories
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - politics
                - technology
                - business
                - science
                - health
                - sports
                - entertainment
                - world
                items:
                  type: string
                type: array
          description: Array of category strings
      summary: List all categories
      x-group: Sources & Categories
  /api/v1/tags:
    get:
      description: Retrieve the list of all article tags.
      operationId: listTags
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - breaking
                - analysis
                - opinion
                - exclusive
                items:
                  type: string
                type: array
          description: Array of tag strings
      summary: List all tags
      x-group: Sources & Categories
  /api/v1/source-rankings:
    get:
      description: "Retrieve authority and quality rankings for all news sources,\
        \ sorted by overall score descending. Includes scoring across timing, content\
        \ quality, and sentiment dimensions."
      operationId: listSourceRankings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listSourceRankings_200_response'
          description: Source rankings
      summary: List source rankings
      x-group: Sources & Categories
  /api/v1/graph/entity-network:
    get:
      description: Retrieve the ego-network around an entity up to a specified depth.
        Returns nodes (entities) and edges (relationships) for graph visualization.
      operationId: getEntityNetwork
      parameters:
      - description: The entity ID to center the network on
        example: 892
        explode: true
        in: query
        name: entity_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of hops from the center entity (1-3)
        example: 2
        explode: true
        in: query
        name: depth
        required: false
        schema:
          default: 2
          type: integer
        style: form
      - description: Maximum number of edges to return (max 200)
        example: 50
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEntityNetwork_200_response'
          description: Entity network graph
      summary: Get entity relationship network
      x-group: Graph
  /api/v1/graph/story-entity:
    get:
      description: Retrieve the relationship graph between stories and their mentioned
        entities. Useful for visualizing how entities connect across different news
        stories.
      operationId: getStoryEntityGraph
      parameters:
      - description: The story ID to build the graph around
        example: 1523
        explode: true
        in: query
        name: story_id
        required: true
        schema:
          type: integer
        style: form
      - description: Maximum number of entities to include
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getStoryEntityGraph_200_response'
          description: Story-entity graph
      summary: Get story-entity graph
      x-group: Graph
  /api/v1/graph/topic-cluster:
    get:
      description: Retrieve the hierarchical graph of topic clusters and their constituent
        event clusters. Shows how individual news events group into broader topics.
      operationId: getTopicClusterGraph
      parameters:
      - description: Filter to a specific topic cluster ID
        example: 42
        explode: true
        in: query
        name: topic_id
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum number of topic clusters to return
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTopicClusterGraph_200_response'
          description: Topic cluster graph
      summary: Get topic cluster graph
      x-group: Graph
  /api/v1/related:
    get:
      description: "Retrieve articles related to a given article, determined by semantic\
        \ similarity."
      operationId: getRelatedArticles
      parameters:
      - description: URL hash of the reference article
        example: a1b2c3d4e5
        explode: true
        in: query
        name: url_hash
        required: true
        schema:
          type: string
        style: form
      - description: Number of related articles to return
        example: 5
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 8
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Item'
                type: array
          description: Array of related articles
      summary: Get related articles
      x-group: Meta
  /api/v1/stats:
    get:
      description: Retrieve aggregate statistics about the NewsRank index.
      operationId: getStats
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stats'
          description: Site statistics
      summary: Get site statistics
      x-group: Meta
  /api/v1/version:
    get:
      description: Retrieve active API major versions and recommended SDK package
        versions.
      operationId: getVersionInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionInfo'
          description: Version metadata
      security: []
      summary: Get API and SDK version metadata
      x-group: Meta
  /api/v1/embeddings:
    get:
      description: |
        Retrieve the embedding vector for a single article or story. Requires Pro tier or higher.

        Articles use OpenAI text-embedding-3-small (1536 dimensions). Stories return their cluster centroid vector.
      operationId: getEmbedding
      parameters:
      - description: Type of embedding to retrieve
        example: article
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - article
          - story
          type: string
        style: form
      - description: Article url_hash or story numeric ID
        example: a1b2c3d4e5
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: "Output format — `json` returns float array, `base64` returns\
          \ little-endian float32 binary"
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - base64
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEmbedding_200_response'
          description: Embedding vector
        "403":
          description: Requires Pro tier or higher
        "404":
          description: Embedding not found
      summary: Get embedding vector
      x-group: Embeddings
  /api/v1/search/vector:
    post:
      description: |
        Search for articles and/or stories by embedding vector similarity. Submit your own 1536-dimensional embedding and receive the nearest matches from the news corpus.

        Requires Pro tier or higher. Uses cosine distance for similarity scoring.
      operationId: vectorSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vectorSearch_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vectorSearch_200_response'
          description: Nearest matches by cosine similarity
        "400":
          description: Invalid embedding dimensions or malformed request
        "403":
          description: Requires Pro tier or higher
      summary: Vector similarity search
      x-group: Embeddings
  /api/v1/usage:
    get:
      description: "Returns current month usage, quota information, daily usage breakdown,\
        \ and summary statistics for the authenticated API key. Requires API key authentication."
      operationId: getUsage
      parameters:
      - description: Start of date range (Unix milliseconds). Defaults to 30 days
          ago.
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: End of date range (Unix milliseconds). Defaults to now.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUsage_200_response'
          description: Usage and quota information
        "401":
          description: Missing or invalid API key
        "403":
          description: Key has no associated user account
      summary: Get API usage and quota
      x-group: Account
  /api/backtest:
    get:
      description: |
        Replay historical WebSocket events for backtesting trading strategies and news analysis pipelines. Returns events in chronological order with cursor-based pagination.

        Mirrors the WebSocket subscribe filter system — filter by topics, categories, sources, keywords, and entities. Requires **Pro tier or higher**.

        Use `topics` to select event classes: `"articles"` maps to `item.new` and `item.enriched` events; `"stories"` maps to `story.development`, `story.priority_changed`, and `cluster.event`. The `clusters.ranked` event type is excluded by default and must be explicitly listed in `types` to include.

        Events are retained for 90 days. Each request can span at most 7 days (`to - from`).
      operationId: backtestReplay
      parameters:
      - description: Start of time range (Unix milliseconds). Must be within the last
          90 days.
        example: 1740000000000
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: End of time range (Unix milliseconds). Max 7-day window from
          `from`.
        example: 1740604800000
        explode: true
        in: query
        name: to
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: "Comma-separated topic classes: `articles`, `stories`. Maps to\
          \ underlying event types."
        example: "articles,stories"
        explode: true
        in: query
        name: topics
        required: false
        schema:
          type: string
        style: form
      - description: "Comma-separated event types (overrides `topics`): `item.new`,\
          \ `item.enriched`, `story.development`, `story.priority_changed`, `cluster.event`,\
          \ `clusters.ranked`."
        example: "item.new,item.enriched"
        explode: true
        in: query
        name: types
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated category filter (OR logic)
        example: "politics,business"
        explode: true
        in: query
        name: categories
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated source ID filter (OR logic)
        example: "reuters,ap-news"
        explode: true
        in: query
        name: sources
        required: false
        schema:
          type: string
        style: form
      - description: "Comma-separated keyword filter — matches against article titles\
          \ (OR logic, case-insensitive)"
        example: "climate,carbon"
        explode: true
        in: query
        name: keywords
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated entity IDs to filter by (matches `item.enriched`
          events)
        example: "42,108"
        explode: true
        in: query
        name: entities
        required: false
        schema:
          type: string
        style: form
      - description: Filter by a specific story cluster ID
        example: 1523
        explode: true
        in: query
        name: cluster_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Attach embedding vectors to article events in the response
        explode: true
        in: query
        name: include_embeddings
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Pagination cursor — pass `next_cursor` from the previous response
        example: 0
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          default: 0
          format: int64
          type: integer
        style: form
      - description: Events per page (max 5000)
        example: 1000
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/backtestReplay_200_response'
          description: Paginated list of historical WebSocket events
        "400":
          description: "Invalid parameters (missing from/to, window too large, etc.)"
        "403":
          description: Requires Pro tier or higher
      summary: Replay historical WebSocket events
      x-group: Backtesting
    post:
      description: |
        Same as `GET /api/backtest` but accepts a JSON body for advanced filters including embedding vector similarity search.

        Use `embedding_filters` to find events about articles semantically similar to a reference embedding. Max 1 embedding filter per request. Requires **Pro tier or higher**.
      operationId: backtestReplayWithEmbeddings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/backtestReplayWithEmbeddings_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/backtestReplayWithEmbeddings_200_response'
          description: Paginated list of historical WebSocket events with similarity
            scores
        "400":
          description: Invalid parameters or embedding dimensions
        "403":
          description: Requires Pro tier or higher
      summary: Replay events with embedding filters
      x-group: Backtesting
components:
  schemas:
    Item:
      example:
        image_url: https://example.com/images/court.jpg
        content_status: has_content
        discovered_at: 1708301400000
        title: Supreme Court Rules on Landmark Climate Case
        url: https://example.com/article/supreme-court-climate
        headline_summary: Supreme Court sides with environmental regulators
        url_hash: a1b2c3d4e5
        id: 48210
        source_id: 12
        category: politics
        published_at: 1708300800000
        excerpt: The Supreme Court issued a landmark ruling today on...
        source_name: Reuters
        slug: supreme-court-rules-on-landmark-climate-case
      properties:
        id:
          example: 48210
          type: integer
        url_hash:
          example: a1b2c3d4e5
          type: string
        title:
          example: Supreme Court Rules on Landmark Climate Case
          type: string
        url:
          example: https://example.com/article/supreme-court-climate
          format: uri
          type: string
        source_id:
          example: 12
          type: integer
        source_name:
          example: Reuters
          type: string
        category:
          example: politics
          type: string
        published_at:
          description: Unix timestamp in milliseconds
          example: 1708300800000
          format: int64
          type: integer
        discovered_at:
          description: Unix timestamp in milliseconds
          example: 1708301400000
          format: int64
          type: integer
        excerpt:
          example: The Supreme Court issued a landmark ruling today on...
          type: string
        image_url:
          example: https://example.com/images/court.jpg
          format: uri
          type: string
          nullable: true
        content_status:
          enum:
          - has_content
          - no_content
          - failed
          example: has_content
          type: string
        headline_summary:
          example: Supreme Court sides with environmental regulators
          type: string
          nullable: true
        slug:
          example: supreme-court-rules-on-landmark-climate-case
          type: string
    Story:
      example:
        summary: The Supreme Court ruled 6-3 in favor of stricter emissions standards...
        last_updated: 1708387200000
        first_seen: 1708300800000
        sources:
        - Reuters
        - AP News
        - BBC
        image_url: https://example.com/images/court.jpg
        article_count: 47
        top_entities:
        - Supreme Court
        - EPA
        - John Roberts
        id: 1523
        label: Breaking
        category: politics
        headline: Supreme Court Issues Landmark Climate Ruling
        slug: supreme-court-climate-ruling
      properties:
        id:
          example: 1523
          type: integer
        slug:
          example: supreme-court-climate-ruling
          type: string
        headline:
          example: Supreme Court Issues Landmark Climate Ruling
          type: string
        summary:
          example: The Supreme Court ruled 6-3 in favor of stricter emissions standards...
          type: string
        image_url:
          example: https://example.com/images/court.jpg
          format: uri
          type: string
          nullable: true
        article_count:
          example: 47
          type: integer
        sources:
          example:
          - Reuters
          - AP News
          - BBC
          items:
            type: string
          type: array
        top_entities:
          example:
          - Supreme Court
          - EPA
          - John Roberts
          items:
            type: string
          type: array
        category:
          example: politics
          type: string
        first_seen:
          description: Unix timestamp in milliseconds
          example: 1708300800000
          format: int64
          type: integer
        last_updated:
          description: Unix timestamp in milliseconds
          example: 1708387200000
          format: int64
          type: integer
        label:
          example: Breaking
          type: string
          nullable: true
    StoryDetail:
      allOf:
      - $ref: '#/components/schemas/Story'
      - properties:
          rich_summary:
            example: |-
              ## Background
              The case originated from...
            type: string
            nullable: true
          articles:
            items:
              $ref: '#/components/schemas/Item'
            type: array
          developments:
            items:
              $ref: '#/components/schemas/StoryDevelopment'
            type: array
      example:
        summary: The Supreme Court ruled 6-3 in favor of stricter emissions standards...
        last_updated: 1708387200000
        developments:
        - significance: major
          cluster_id: 1523
          new_headline: Supreme Court Issues Landmark Climate Ruling
          previous_headline: Climate Case Heads to Supreme Court
          trigger_article_hashes:
          - a1b2c3d4e5
          enrichment_seq: 3
          description: The Supreme Court has set a date for the landmark climate ruling...
          id: 42
          created_at_ms: 1708300800000
          title: Court announces ruling date
        - significance: major
          cluster_id: 1523
          new_headline: Supreme Court Issues Landmark Climate Ruling
          previous_headline: Climate Case Heads to Supreme Court
          trigger_article_hashes:
          - a1b2c3d4e5
          enrichment_seq: 3
          description: The Supreme Court has set a date for the landmark climate ruling...
          id: 42
          created_at_ms: 1708300800000
          title: Court announces ruling date
        first_seen: 1708300800000
        sources:
        - Reuters
        - AP News
        - BBC
        image_url: https://example.com/images/court.jpg
        top_entities:
        - Supreme Court
        - EPA
        - John Roberts
        label: Breaking
        rich_summary: |-
          ## Background
          The case originated from...
        article_count: 47
        id: 1523
        category: politics
        headline: Supreme Court Issues Landmark Climate Ruling
        articles:
        - image_url: https://example.com/images/court.jpg
          content_status: has_content
          discovered_at: 1708301400000
          title: Supreme Court Rules on Landmark Climate Case
          url: https://example.com/article/supreme-court-climate
          headline_summary: Supreme Court sides with environmental regulators
          url_hash: a1b2c3d4e5
          id: 48210
          source_id: 12
          category: politics
          published_at: 1708300800000
          excerpt: The Supreme Court issued a landmark ruling today on...
          source_name: Reuters
          slug: supreme-court-rules-on-landmark-climate-case
        - image_url: https://example.com/images/court.jpg
          content_status: has_content
          discovered_at: 1708301400000
          title: Supreme Court Rules on Landmark Climate Case
          url: https://example.com/article/supreme-court-climate
          headline_summary: Supreme Court sides with environmental regulators
          url_hash: a1b2c3d4e5
          id: 48210
          source_id: 12
          category: politics
          published_at: 1708300800000
          excerpt: The Supreme Court issued a landmark ruling today on...
          source_name: Reuters
          slug: supreme-court-rules-on-landmark-climate-case
        slug: supreme-court-climate-ruling
    StoryDevelopment:
      example:
        significance: major
        cluster_id: 1523
        new_headline: Supreme Court Issues Landmark Climate Ruling
        previous_headline: Climate Case Heads to Supreme Court
        trigger_article_hashes:
        - a1b2c3d4e5
        enrichment_seq: 3
        description: The Supreme Court has set a date for the landmark climate ruling...
        id: 42
        created_at_ms: 1708300800000
        title: Court announces ruling date
      properties:
        id:
          example: 42
          type: integer
        cluster_id:
          example: 1523
          type: integer
        created_at_ms:
          description: Unix timestamp in milliseconds
          example: 1708300800000
          format: int64
          type: integer
        title:
          example: Court announces ruling date
          type: string
        description:
          example: The Supreme Court has set a date for the landmark climate ruling...
          type: string
        significance:
          example: major
          type: string
        previous_headline:
          example: Climate Case Heads to Supreme Court
          type: string
        new_headline:
          example: Supreme Court Issues Landmark Climate Ruling
          type: string
        trigger_article_hashes:
          example:
          - a1b2c3d4e5
          items:
            type: string
          type: array
        enrichment_seq:
          example: 3
          type: integer
    StoryUpdateSignal:
      example:
        significance: moderate
        new_article_count: 3
        cluster_id: 1523
        new_sources:
        - CNN
        - BBC
        new_articles:
        - url_hash: url_hash
          title: title
          published_at: 0
          source_name: source_name
        - url_hash: url_hash
          title: title
          published_at: 0
          source_name: source_name
        baseline_member_count: 47
        checked_at_ms: 1708387200000
        new_entities:
        - John Roberts
        significance_reasons:
        - 3 new sources reporting
        - major entity mentioned
      properties:
        cluster_id:
          example: 1523
          type: integer
        new_articles:
          items:
            $ref: '#/components/schemas/StoryUpdateSignal_new_articles_inner'
          type: array
        new_article_count:
          example: 3
          type: integer
        new_sources:
          example:
          - CNN
          - BBC
          items:
            type: string
          type: array
        new_entities:
          example:
          - John Roberts
          items:
            type: string
          type: array
        significance:
          enum:
          - none
          - minor
          - moderate
          - major
          example: moderate
          type: string
        significance_reasons:
          example:
          - 3 new sources reporting
          - major entity mentioned
          items:
            type: string
          type: array
        baseline_member_count:
          example: 47
          type: integer
        checked_at_ms:
          description: Unix timestamp in milliseconds
          example: 1708387200000
          format: int64
          type: integer
    ArticleContent:
      example:
        thumb_url: https://openapi-generator.tech
        image_url: https://example.com/images/court.jpg
        extracted_at: 1708301400000
        full_summary: The Supreme Court ruled 6-3 in favor of stricter emissions standards...
        truncated: false
        tags:
        - score: 0.8008281904610115
          tag: tag
        - score: 0.8008281904610115
          tag: tag
        extracted_title: Supreme Court Rules on Landmark Climate Case
        video_url: https://openapi-generator.tech
        final_url: https://example.com/article/supreme-court-climate
        headline_summary: Supreme Court sides with environmental regulators
        url_hash: a1b2c3d4e5
        text: The Supreme Court issued a landmark ruling today...
        ok: true
      properties:
        ok:
          example: true
          type: boolean
        url_hash:
          example: a1b2c3d4e5
          type: string
        final_url:
          example: https://example.com/article/supreme-court-climate
          format: uri
          type: string
        image_url:
          example: https://example.com/images/court.jpg
          format: uri
          type: string
          nullable: true
        thumb_url:
          format: uri
          type: string
          nullable: true
        video_url:
          format: uri
          type: string
          nullable: true
        extracted_title:
          example: Supreme Court Rules on Landmark Climate Case
          type: string
        text:
          example: The Supreme Court issued a landmark ruling today...
          type: string
        extracted_at:
          description: Unix timestamp in milliseconds
          example: 1708301400000
          format: int64
          type: integer
        truncated:
          example: false
          type: boolean
        headline_summary:
          example: Supreme Court sides with environmental regulators
          type: string
          nullable: true
        full_summary:
          example: The Supreme Court ruled 6-3 in favor of stricter emissions standards...
          type: string
          nullable: true
        tags:
          items:
            $ref: '#/components/schemas/ArticleContent_tags_inner'
          type: array
    SearchResult:
      example:
        snippet: The Supreme Court issued a landmark ruling...
        discovered_at_ms: 1708301400000
        image_url: https://openapi-generator.tech
        url_hash_hex: a1b2c3d4e5
        rank: 12.5
        title: Supreme Court Rules on Landmark Climate Case
        category: politics
        published_at_ms: 1708300800000
        source_name: Reuters
        placeholder_image_url: https://openapi-generator.tech
      properties:
        url_hash_hex:
          example: a1b2c3d4e5
          type: string
        title:
          example: Supreme Court Rules on Landmark Climate Case
          type: string
        source_name:
          example: Reuters
          type: string
        category:
          example: politics
          type: string
        published_at_ms:
          example: 1708300800000
          format: int64
          type: integer
        discovered_at_ms:
          example: 1708301400000
          format: int64
          type: integer
        image_url:
          format: uri
          type: string
          nullable: true
        placeholder_image_url:
          format: uri
          type: string
          nullable: true
        snippet:
          example: The Supreme Court issued a landmark ruling...
          type: string
        rank:
          example: 12.5
          type: number
    SourceRanking:
      example:
        logo_url: https://openapi-generator.tech
        content_diversity_score: 71.0
        extraction_success_score: 95.4
        overall_score: 86.3
        description_one_liner: "Leading global wire service known for factual, concise\
          \ reporting."
        tier: tier_1
        first_to_cluster_score: 85.2
        description_summary: description_summary
        sensationalism_score: 90.1
        reliability_score: 87.6
        speed_score: 78.5
        topical_authority_score: 88.3
        source_id: "12"
        source_name: Reuters
        neutrality_score: 82.7
        cluster_frequency_score: 92.1
      properties:
        source_id:
          example: "12"
          type: string
        source_name:
          example: Reuters
          type: string
        logo_url:
          format: uri
          type: string
          nullable: true
        first_to_cluster_score:
          example: 85.2
          type: number
        cluster_frequency_score:
          example: 92.1
          type: number
        speed_score:
          example: 78.5
          type: number
        topical_authority_score:
          example: 88.3
          type: number
        content_diversity_score:
          example: 71.0
          type: number
        extraction_success_score:
          example: 95.4
          type: number
        neutrality_score:
          example: 82.7
          type: number
        sensationalism_score:
          example: 90.1
          type: number
        reliability_score:
          example: 87.6
          type: number
        overall_score:
          example: 86.3
          type: number
        tier:
          example: tier_1
          type: string
        description_one_liner:
          example: "Leading global wire service known for factual, concise reporting."
          type: string
          nullable: true
        description_summary:
          type: string
          nullable: true
    EntityDetail:
      example:
        aliases:
        - Chief Justice Roberts
        - J. Roberts
        wikipedia_url: https://en.wikipedia.org/wiki/John_Roberts
        image_url: https://example.com/images/roberts.jpg
        article_count: 234
        enriched: true
        name: John Roberts
        description: Chief Justice of the United States
        wikidata_id: Q11204
        id: 892
        type: person
        subcategory: politician
        slug: john-roberts
      properties:
        id:
          example: 892
          type: integer
        name:
          example: John Roberts
          type: string
        type:
          enum:
          - person
          - org
          - location
          example: person
          type: string
        subcategory:
          example: politician
          type: string
          nullable: true
        slug:
          example: john-roberts
          type: string
        description:
          example: Chief Justice of the United States
          type: string
          nullable: true
        image_url:
          example: https://example.com/images/roberts.jpg
          format: uri
          type: string
          nullable: true
        wikidata_id:
          example: Q11204
          type: string
          nullable: true
        wikipedia_url:
          example: https://en.wikipedia.org/wiki/John_Roberts
          format: uri
          type: string
          nullable: true
        article_count:
          example: 234
          type: integer
        aliases:
          example:
          - Chief Justice Roberts
          - J. Roberts
          items:
            type: string
          type: array
        enriched:
          example: true
          type: boolean
    GraphNode:
      example:
        name: John Roberts
        id: 892
        type: person
        slug: john-roberts
      properties:
        id:
          example: 892
          type: integer
        name:
          example: John Roberts
          type: string
        type:
          enum:
          - person
          - org
          - location
          example: person
          type: string
        slug:
          example: john-roberts
          type: string
    GraphEdge:
      example:
        target_entity_id: 45
        relationship_type: works_for
        article_count: 12
        confidence: 0.95
        source_entity_id: 892
        target_entity:
          name: John Roberts
          id: 892
          type: person
          slug: john-roberts
        id: 1
        source_entity:
          name: John Roberts
          id: 892
          type: person
          slug: john-roberts
      properties:
        id:
          example: 1
          type: integer
        source_entity_id:
          example: 892
          type: integer
        target_entity_id:
          example: 45
          type: integer
        relationship_type:
          example: works_for
          type: string
        confidence:
          example: 0.95
          type: number
        article_count:
          example: 12
          type: integer
        source_entity:
          $ref: '#/components/schemas/GraphNode'
        target_entity:
          $ref: '#/components/schemas/GraphNode'
    Source:
      example:
        article_count: 15420
        name: Reuters
        id: 12
        category: wire
        url: https://www.reuters.com
      properties:
        id:
          example: 12
          type: integer
        name:
          example: Reuters
          type: string
        url:
          example: https://www.reuters.com
          format: uri
          type: string
        category:
          example: wire
          type: string
        article_count:
          example: 15420
          type: integer
    Stats:
      example:
        total_stories: 12450
        total_entities: 45200
        total_sources: 312
        total_articles: 284310
      properties:
        total_articles:
          example: 284310
          type: integer
        total_stories:
          example: 12450
          type: integer
        total_entities:
          example: 45200
          type: integer
        total_sources:
          example: 312
          type: integer
    BacktestEvent:
      example:
        cluster_id: 1523
        event_type: item.new
        payload: "{}"
        similarity: 0.82
        id: 12345
        embedding:
        - 0.8008281904610115
        - 0.8008281904610115
        ts: 1740000000000
      properties:
        id:
          example: 12345
          format: int64
          type: integer
        ts:
          description: Event timestamp (Unix milliseconds)
          example: 1740000000000
          format: int64
          type: integer
        event_type:
          enum:
          - item.new
          - item.enriched
          - story.development
          - story.priority_changed
          - cluster.event
          - clusters.ranked
          example: item.new
          type: string
        cluster_id:
          description: Story cluster ID (0 for article-only events)
          example: 1523
          format: int64
          type: integer
        payload:
          description: The original WebSocket event payload
          type: object
        similarity:
          description: Cosine similarity score (only present when embedding filter
            is active)
          example: 0.82
          type: number
          nullable: true
        embedding:
          description: Embedding vector (only present when include_embeddings=true)
          items:
            type: number
          type: array
          nullable: true
    BacktestEmbeddingFilter:
      properties:
        embedding:
          description: 1536-dimensional embedding vector for similarity search
          items:
            type: number
          type: array
        threshold:
          description: "Minimum cosine similarity threshold (0.0–1.0, default 0.75)"
          example: 0.75
          type: number
        label:
          description: Optional label for this filter
          example: climate-news
          type: string
    ApiVersionInfo:
      example:
        api_latest: v1
        generated_at: 2026-02-25T12:34:56Z
        supported_api_majors:
        - v1
        sunset: {}
        sdk_recommendations:
          python: 0.1.0
          typescript: 0.1.0
        api_major: v1
      properties:
        api_major:
          example: v1
          type: string
        api_latest:
          example: v1
          type: string
        supported_api_majors:
          example:
          - v1
          items:
            type: string
          type: array
        sunset:
          additionalProperties:
            type: string
          example: {}
        sdk_recommendations:
          $ref: '#/components/schemas/ApiVersionInfo_sdk_recommendations'
        generated_at:
          example: 2026-02-25T12:34:56Z
          format: date-time
          type: string
    listArticles_200_response:
      example:
        total: 1250
        offset: 0
        limit: 40
        items:
        - image_url: https://example.com/images/court.jpg
          content_status: has_content
          discovered_at: 1708301400000
          title: Supreme Court Rules on Landmark Climate Case
          url: https://example.com/article/supreme-court-climate
          headline_summary: Supreme Court sides with environmental regulators
          url_hash: a1b2c3d4e5
          id: 48210
          source_id: 12
          category: politics
          published_at: 1708300800000
          excerpt: The Supreme Court issued a landmark ruling today on...
          source_name: Reuters
          slug: supreme-court-rules-on-landmark-climate-case
        - image_url: https://example.com/images/court.jpg
          content_status: has_content
          discovered_at: 1708301400000
          title: Supreme Court Rules on Landmark Climate Case
          url: https://example.com/article/supreme-court-climate
          headline_summary: Supreme Court sides with environmental regulators
          url_hash: a1b2c3d4e5
          id: 48210
          source_id: 12
          category: politics
          published_at: 1708300800000
          excerpt: The Supreme Court issued a landmark ruling today on...
          source_name: Reuters
          slug: supreme-court-rules-on-landmark-climate-case
      properties:
        items:
          items:
            $ref: '#/components/schemas/Item'
          type: array
        total:
          example: 1250
          type: integer
        offset:
          example: 0
          type: integer
        limit:
          example: 40
          type: integer
    getArticle_200_response:
      example:
        item:
          image_url: https://example.com/images/court.jpg
          content_status: has_content
          discovered_at: 1708301400000
          title: Supreme Court Rules on Landmark Climate Case
          url: https://example.com/article/supreme-court-climate
          headline_summary: Supreme Court sides with environmental regulators
          url_hash: a1b2c3d4e5
          id: 48210
          source_id: 12
          category: politics
          published_at: 1708300800000
          excerpt: The Supreme Court issued a landmark ruling today on...
          source_name: Reuters
          slug: supreme-court-rules-on-landmark-climate-case
      properties:
        item:
          $ref: '#/components/schemas/Item'
    listStories_200_response:
      example:
        stories:
        - summary: The Supreme Court ruled 6-3 in favor of stricter emissions standards...
          last_updated: 1708387200000
          first_seen: 1708300800000
          sources:
          - Reuters
          - AP News
          - BBC
          image_url: https://example.com/images/court.jpg
          article_count: 47
          top_entities:
          - Supreme Court
          - EPA
          - John Roberts
          id: 1523
          label: Breaking
          category: politics
          headline: Supreme Court Issues Landmark Climate Ruling
          slug: supreme-court-climate-ruling
        - summary: The Supreme Court ruled 6-3 in favor of stricter emissions standards...
          last_updated: 1708387200000
          first_seen: 1708300800000
          sources:
          - Reuters
          - AP News
          - BBC
          image_url: https://example.com/images/court.jpg
          article_count: 47
          top_entities:
          - Supreme Court
          - EPA
          - John Roberts
          id: 1523
          label: Breaking
          category: politics
          headline: Supreme Court Issues Landmark Climate Ruling
          slug: supreme-court-climate-ruling
      properties:
        stories:
          items:
            $ref: '#/components/schemas/Story'
          type: array
    listStoryDevelopments_200_response:
      example:
        developments:
        - significance: major
          cluster_id: 1523
          new_headline: Supreme Court Issues Landmark Climate Ruling
          previous_headline: Climate Case Heads to Supreme Court
          trigger_article_hashes:
          - a1b2c3d4e5
          enrichment_seq: 3
          description: The Supreme Court has set a date for the landmark climate ruling...
          id: 42
          created_at_ms: 1708300800000
          title: Court announces ruling date
        - significance: major
          cluster_id: 1523
          new_headline: Supreme Court Issues Landmark Climate Ruling
          previous_headline: Climate Case Heads to Supreme Court
          trigger_article_hashes:
          - a1b2c3d4e5
          enrichment_seq: 3
          description: The Supreme Court has set a date for the landmark climate ruling...
          id: 42
          created_at_ms: 1708300800000
          title: Court announces ruling date
        count: 5
      properties:
        developments:
          items:
            $ref: '#/components/schemas/StoryDevelopment'
          type: array
        count:
          example: 5
          type: integer
    searchArticles_200_response:
      example:
        total: 83
        items:
        - image_url: https://example.com/images/court.jpg
          content_status: has_content
          discovered_at: 1708301400000
          title: Supreme Court Rules on Landmark Climate Case
          url: https://example.com/article/supreme-court-climate
          headline_summary: Supreme Court sides with environmental regulators
          url_hash: a1b2c3d4e5
          id: 48210
          source_id: 12
          category: politics
          published_at: 1708300800000
          excerpt: The Supreme Court issued a landmark ruling today on...
          source_name: Reuters
          slug: supreme-court-rules-on-landmark-climate-case
        - image_url: https://example.com/images/court.jpg
          content_status: has_content
          discovered_at: 1708301400000
          title: Supreme Court Rules on Landmark Climate Case
          url: https://example.com/article/supreme-court-climate
          headline_summary: Supreme Court sides with environmental regulators
          url_hash: a1b2c3d4e5
          id: 48210
          source_id: 12
          category: politics
          published_at: 1708300800000
          excerpt: The Supreme Court issued a landmark ruling today on...
          source_name: Reuters
          slug: supreme-court-rules-on-landmark-climate-case
      properties:
        items:
          items:
            $ref: '#/components/schemas/Item'
          type: array
        total:
          example: 83
          type: integer
    searchFull_200_response:
      example:
        total: 42
        results:
        - snippet: The Supreme Court issued a landmark ruling...
          discovered_at_ms: 1708301400000
          image_url: https://openapi-generator.tech
          url_hash_hex: a1b2c3d4e5
          rank: 12.5
          title: Supreme Court Rules on Landmark Climate Case
          category: politics
          published_at_ms: 1708300800000
          source_name: Reuters
          placeholder_image_url: https://openapi-generator.tech
        - snippet: The Supreme Court issued a landmark ruling...
          discovered_at_ms: 1708301400000
          image_url: https://openapi-generator.tech
          url_hash_hex: a1b2c3d4e5
          rank: 12.5
          title: Supreme Court Rules on Landmark Climate Case
          category: politics
          published_at_ms: 1708300800000
          source_name: Reuters
          placeholder_image_url: https://openapi-generator.tech
      properties:
        results:
          items:
            $ref: '#/components/schemas/SearchResult'
          type: array
        total:
          example: 42
          type: integer
    searchSuggest_200_response:
      example:
        suggestions:
        - climate change
        - climate policy
        - climate summit
        - climate crisis
        - climate action
      properties:
        suggestions:
          example:
          - climate change
          - climate policy
          - climate summit
          - climate crisis
          - climate action
          items:
            type: string
          type: array
    listEntities_200_response:
      example:
        total: 450
        offset: 0
        entities:
        - aliases:
          - Chief Justice Roberts
          - J. Roberts
          wikipedia_url: https://en.wikipedia.org/wiki/John_Roberts
          image_url: https://example.com/images/roberts.jpg
          article_count: 234
          enriched: true
          name: John Roberts
          description: Chief Justice of the United States
          wikidata_id: Q11204
          id: 892
          type: person
          subcategory: politician
          slug: john-roberts
        - aliases:
          - Chief Justice Roberts
          - J. Roberts
          wikipedia_url: https://en.wikipedia.org/wiki/John_Roberts
          image_url: https://example.com/images/roberts.jpg
          article_count: 234
          enriched: true
          name: John Roberts
          description: Chief Justice of the United States
          wikidata_id: Q11204
          id: 892
          type: person
          subcategory: politician
          slug: john-roberts
        limit: 60
      properties:
        entities:
          items:
            $ref: '#/components/schemas/EntityDetail'
          type: array
        total:
          example: 450
          type: integer
        offset:
          example: 0
          type: integer
        limit:
          example: 60
          type: integer
    listTrendingEntities_200_response:
      example:
        entities:
        - aliases:
          - Chief Justice Roberts
          - J. Roberts
          wikipedia_url: https://en.wikipedia.org/wiki/John_Roberts
          image_url: https://example.com/images/roberts.jpg
          article_count: 234
          enriched: true
          name: John Roberts
          description: Chief Justice of the United States
          wikidata_id: Q11204
          id: 892
          type: person
          subcategory: politician
          slug: john-roberts
        - aliases:
          - Chief Justice Roberts
          - J. Roberts
          wikipedia_url: https://en.wikipedia.org/wiki/John_Roberts
          image_url: https://example.com/images/roberts.jpg
          article_count: 234
          enriched: true
          name: John Roberts
          description: Chief Justice of the United States
          wikidata_id: Q11204
          id: 892
          type: person
          subcategory: politician
          slug: john-roberts
      properties:
        entities:
          items:
            $ref: '#/components/schemas/EntityDetail'
          type: array
    listPoliticians_200_response:
      example:
        total: 120
        offset: 0
        entities:
        - aliases:
          - Chief Justice Roberts
          - J. Roberts
          wikipedia_url: https://en.wikipedia.org/wiki/John_Roberts
          image_url: https://example.com/images/roberts.jpg
          article_count: 234
          enriched: true
          name: John Roberts
          description: Chief Justice of the United States
          wikidata_id: Q11204
          id: 892
          type: person
          subcategory: politician
          slug: john-roberts
        - aliases:
          - Chief Justice Roberts
          - J. Roberts
          wikipedia_url: https://en.wikipedia.org/wiki/John_Roberts
          image_url: https://example.com/images/roberts.jpg
          article_count: 234
          enriched: true
          name: John Roberts
          description: Chief Justice of the United States
          wikidata_id: Q11204
          id: 892
          type: person
          subcategory: politician
          slug: john-roberts
        limit: 60
      properties:
        entities:
          items:
            $ref: '#/components/schemas/EntityDetail'
          type: array
        total:
          example: 120
          type: integer
        offset:
          example: 0
          type: integer
        limit:
          example: 60
          type: integer
    listEntityArticles_200_response:
      example:
        total: 234
        offset: 0
        limit: 20
        items:
        - image_url: https://example.com/images/court.jpg
          content_status: has_content
          discovered_at: 1708301400000
          title: Supreme Court Rules on Landmark Climate Case
          url: https://example.com/article/supreme-court-climate
          headline_summary: Supreme Court sides with environmental regulators
          url_hash: a1b2c3d4e5
          id: 48210
          source_id: 12
          category: politics
          published_at: 1708300800000
          excerpt: The Supreme Court issued a landmark ruling today on...
          source_name: Reuters
          slug: supreme-court-rules-on-landmark-climate-case
        - image_url: https://example.com/images/court.jpg
          content_status: has_content
          discovered_at: 1708301400000
          title: Supreme Court Rules on Landmark Climate Case
          url: https://example.com/article/supreme-court-climate
          headline_summary: Supreme Court sides with environmental regulators
          url_hash: a1b2c3d4e5
          id: 48210
          source_id: 12
          category: politics
          published_at: 1708300800000
          excerpt: The Supreme Court issued a landmark ruling today on...
          source_name: Reuters
          slug: supreme-court-rules-on-landmark-climate-case
      properties:
        items:
          items:
            $ref: '#/components/schemas/Item'
          type: array
        total:
          example: 234
          type: integer
        offset:
          example: 0
          type: integer
        limit:
          example: 20
          type: integer
    listSourceRankings_200_response:
      example:
        rankings:
        - logo_url: https://openapi-generator.tech
          content_diversity_score: 71.0
          extraction_success_score: 95.4
          overall_score: 86.3
          description_one_liner: "Leading global wire service known for factual, concise\
            \ reporting."
          tier: tier_1
          first_to_cluster_score: 85.2
          description_summary: description_summary
          sensationalism_score: 90.1
          reliability_score: 87.6
          speed_score: 78.5
          topical_authority_score: 88.3
          source_id: "12"
          source_name: Reuters
          neutrality_score: 82.7
          cluster_frequency_score: 92.1
        - logo_url: https://openapi-generator.tech
          content_diversity_score: 71.0
          extraction_success_score: 95.4
          overall_score: 86.3
          description_one_liner: "Leading global wire service known for factual, concise\
            \ reporting."
          tier: tier_1
          first_to_cluster_score: 85.2
          description_summary: description_summary
          sensationalism_score: 90.1
          reliability_score: 87.6
          speed_score: 78.5
          topical_authority_score: 88.3
          source_id: "12"
          source_name: Reuters
          neutrality_score: 82.7
          cluster_frequency_score: 92.1
        count: 312
      properties:
        rankings:
          items:
            $ref: '#/components/schemas/SourceRanking'
          type: array
        count:
          example: 312
          type: integer
    getEntityNetwork_200_response:
      example:
        nodes:
        - name: John Roberts
          id: 892
          type: person
          slug: john-roberts
        - name: John Roberts
          id: 892
          type: person
          slug: john-roberts
        edges:
        - target_entity_id: 45
          relationship_type: works_for
          article_count: 12
          confidence: 0.95
          source_entity_id: 892
          target_entity:
            name: John Roberts
            id: 892
            type: person
            slug: john-roberts
          id: 1
          source_entity:
            name: John Roberts
            id: 892
            type: person
            slug: john-roberts
        - target_entity_id: 45
          relationship_type: works_for
          article_count: 12
          confidence: 0.95
          source_entity_id: 892
          target_entity:
            name: John Roberts
            id: 892
            type: person
            slug: john-roberts
          id: 1
          source_entity:
            name: John Roberts
            id: 892
            type: person
            slug: john-roberts
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/GraphNode'
          type: array
        edges:
          items:
            $ref: '#/components/schemas/GraphEdge'
          type: array
    getStoryEntityGraph_200_response_edges_inner:
      example:
        story_id: 0
        mention_count: 1
        entity_id: 6
      properties:
        story_id:
          type: integer
        entity_id:
          type: integer
        mention_count:
          type: integer
    getStoryEntityGraph_200_response:
      example:
        entities:
        - aliases:
          - Chief Justice Roberts
          - J. Roberts
          wikipedia_url: https://en.wikipedia.org/wiki/John_Roberts
          image_url: https://example.com/images/roberts.jpg
          article_count: 234
          enriched: true
          name: John Roberts
          description: Chief Justice of the United States
          wikidata_id: Q11204
          id: 892
          type: person
          subcategory: politician
          slug: john-roberts
        - aliases:
          - Chief Justice Roberts
          - J. Roberts
          wikipedia_url: https://en.wikipedia.org/wiki/John_Roberts
          image_url: https://example.com/images/roberts.jpg
          article_count: 234
          enriched: true
          name: John Roberts
          description: Chief Justice of the United States
          wikidata_id: Q11204
          id: 892
          type: person
          subcategory: politician
          slug: john-roberts
        edges:
        - story_id: 0
          mention_count: 1
          entity_id: 6
        - story_id: 0
          mention_count: 1
          entity_id: 6
        story:
          summary: The Supreme Court ruled 6-3 in favor of stricter emissions standards...
          last_updated: 1708387200000
          first_seen: 1708300800000
          sources:
          - Reuters
          - AP News
          - BBC
          image_url: https://example.com/images/court.jpg
          article_count: 47
          top_entities:
          - Supreme Court
          - EPA
          - John Roberts
          id: 1523
          label: Breaking
          category: politics
          headline: Supreme Court Issues Landmark Climate Ruling
          slug: supreme-court-climate-ruling
      properties:
        story:
          $ref: '#/components/schemas/Story'
        entities:
          items:
            $ref: '#/components/schemas/EntityDetail'
          type: array
        edges:
          items:
            $ref: '#/components/schemas/getStoryEntityGraph_200_response_edges_inner'
          type: array
    getTopicClusterGraph_200_response_topics_inner:
      example:
        event_clusters:
        - summary: The Supreme Court ruled 6-3 in favor of stricter emissions standards...
          last_updated: 1708387200000
          first_seen: 1708300800000
          sources:
          - Reuters
          - AP News
          - BBC
          image_url: https://example.com/images/court.jpg
          article_count: 47
          top_entities:
          - Supreme Court
          - EPA
          - John Roberts
          id: 1523
          label: Breaking
          category: politics
          headline: Supreme Court Issues Landmark Climate Ruling
          slug: supreme-court-climate-ruling
        - summary: The Supreme Court ruled 6-3 in favor of stricter emissions standards...
          last_updated: 1708387200000
          first_seen: 1708300800000
          sources:
          - Reuters
          - AP News
          - BBC
          image_url: https://example.com/images/court.jpg
          article_count: 47
          top_entities:
          - Supreme Court
          - EPA
          - John Roberts
          id: 1523
          label: Breaking
          category: politics
          headline: Supreme Court Issues Landmark Climate Ruling
          slug: supreme-court-climate-ruling
        id: 0
        category: category
        headline: headline
      properties:
        id:
          type: integer
        headline:
          type: string
        category:
          type: string
        event_clusters:
          items:
            $ref: '#/components/schemas/Story'
          type: array
    getTopicClusterGraph_200_response:
      example:
        topics:
        - event_clusters:
          - summary: The Supreme Court ruled 6-3 in favor of stricter emissions standards...
            last_updated: 1708387200000
            first_seen: 1708300800000
            sources:
            - Reuters
            - AP News
            - BBC
            image_url: https://example.com/images/court.jpg
            article_count: 47
            top_entities:
            - Supreme Court
            - EPA
            - John Roberts
            id: 1523
            label: Breaking
            category: politics
            headline: Supreme Court Issues Landmark Climate Ruling
            slug: supreme-court-climate-ruling
          - summary: The Supreme Court ruled 6-3 in favor of stricter emissions standards...
            last_updated: 1708387200000
            first_seen: 1708300800000
            sources:
            - Reuters
            - AP News
            - BBC
            image_url: https://example.com/images/court.jpg
            article_count: 47
            top_entities:
            - Supreme Court
            - EPA
            - John Roberts
            id: 1523
            label: Breaking
            category: politics
            headline: Supreme Court Issues Landmark Climate Ruling
            slug: supreme-court-climate-ruling
          id: 0
          category: category
          headline: headline
        - event_clusters:
          - summary: The Supreme Court ruled 6-3 in favor of stricter emissions standards...
            last_updated: 1708387200000
            first_seen: 1708300800000
            sources:
            - Reuters
            - AP News
            - BBC
            image_url: https://example.com/images/court.jpg
            article_count: 47
            top_entities:
            - Supreme Court
            - EPA
            - John Roberts
            id: 1523
            label: Breaking
            category: politics
            headline: Supreme Court Issues Landmark Climate Ruling
            slug: supreme-court-climate-ruling
          - summary: The Supreme Court ruled 6-3 in favor of stricter emissions standards...
            last_updated: 1708387200000
            first_seen: 1708300800000
            sources:
            - Reuters
            - AP News
            - BBC
            image_url: https://example.com/images/court.jpg
            article_count: 47
            top_entities:
            - Supreme Court
            - EPA
            - John Roberts
            id: 1523
            label: Breaking
            category: politics
            headline: Supreme Court Issues Landmark Climate Ruling
            slug: supreme-court-climate-ruling
          id: 0
          category: category
          headline: headline
        count: 8
      properties:
        topics:
          items:
            $ref: '#/components/schemas/getTopicClusterGraph_200_response_topics_inner'
          type: array
        count:
          example: 8
          type: integer
    getEmbedding_200_response:
      example:
        model: text-embedding-3-small
        id: a1b2c3d4e5
        embedding:
        - 0.8008281904610115
        - 0.8008281904610115
        ok: true
        type: article
        dimensions: 1536
      properties:
        ok:
          example: true
          type: boolean
        type:
          example: article
          type: string
        id:
          example: a1b2c3d4e5
          type: string
        model:
          example: text-embedding-3-small
          type: string
        dimensions:
          example: 1536
          type: integer
        embedding:
          description: "Embedding vector as float array, or base64 string when embedding_format=base64"
          items:
            type: number
          type: array
    vectorSearch_request:
      properties:
        embedding:
          description: 1536-dimensional embedding vector (OpenAI text-embedding-3-small
            compatible)
          items:
            type: number
          maxItems: 1536
          minItems: 1536
          type: array
        types:
          default:
          - article
          - story
          description: Which result types to include
          items:
            enum:
            - article
            - story
            type: string
          type: array
        since_hours:
          default: 72
          description: Only search content from the last N hours
          type: integer
        limit:
          default: 20
          description: Maximum results per type
          maximum: 100
          type: integer
      required:
      - embedding
    vectorSearch_200_response_articles_inner:
      example:
        distance: 0.06
        similarity: 0.94
        url_hash: url_hash
        title: title
        category: category
        published_at: 0
        url: https://openapi-generator.tech
        source_name: source_name
      properties:
        similarity:
          example: 0.94
          type: number
        distance:
          example: 0.06
          type: number
        url_hash:
          type: string
        title:
          type: string
        url:
          format: uri
          type: string
        source_name:
          type: string
        category:
          type: string
        published_at:
          format: int64
          type: integer
    vectorSearch_200_response_stories_inner:
      example:
        summary: summary
        cluster_id: 6
        last_updated: 5
        first_seen: 5
        distance: 0.09
        similarity: 0.91
        article_count: 1
        headline: headline
      properties:
        similarity:
          example: 0.91
          type: number
        distance:
          example: 0.09
          type: number
        cluster_id:
          type: integer
        headline:
          type: string
        summary:
          type: string
        article_count:
          type: integer
        first_seen:
          format: int64
          type: integer
        last_updated:
          format: int64
          type: integer
    vectorSearch_200_response:
      example:
        stories:
        - summary: summary
          cluster_id: 6
          last_updated: 5
          first_seen: 5
          distance: 0.09
          similarity: 0.91
          article_count: 1
          headline: headline
        - summary: summary
          cluster_id: 6
          last_updated: 5
          first_seen: 5
          distance: 0.09
          similarity: 0.91
          article_count: 1
          headline: headline
        ok: true
        articles:
        - distance: 0.06
          similarity: 0.94
          url_hash: url_hash
          title: title
          category: category
          published_at: 0
          url: https://openapi-generator.tech
          source_name: source_name
        - distance: 0.06
          similarity: 0.94
          url_hash: url_hash
          title: title
          category: category
          published_at: 0
          url: https://openapi-generator.tech
          source_name: source_name
      properties:
        ok:
          example: true
          type: boolean
        articles:
          items:
            $ref: '#/components/schemas/vectorSearch_200_response_articles_inner'
          type: array
        stories:
          items:
            $ref: '#/components/schemas/vectorSearch_200_response_stories_inner'
          type: array
    getUsage_200_response_quota:
      example:
        monthly_limit: 15000
        resets_at_ms: 1740787200000
        monthly_used: 4231
        pct_used: 28
        grace_limit: 16500
      properties:
        monthly_limit:
          example: 15000
          type: integer
        monthly_used:
          example: 4231
          type: integer
        pct_used:
          example: 28
          type: integer
        grace_limit:
          example: 16500
          type: integer
        resets_at_ms:
          example: 1740787200000
          format: int64
          type: integer
    getUsage_200_response_summary_top_endpoints_inner:
      example:
        endpoint: endpoint
        count: 0
      properties:
        endpoint:
          type: string
        count:
          type: integer
    getUsage_200_response_summary:
      example:
        total_errors: 12
        top_endpoints:
        - endpoint: endpoint
          count: 0
        - endpoint: endpoint
          count: 0
        total_bytes: 5242880
        total_requests: 1023
        avg_latency_ms: 45.2
      properties:
        total_requests:
          example: 1023
          type: integer
        total_bytes:
          example: 5242880
          type: integer
        total_errors:
          example: 12
          type: integer
        avg_latency_ms:
          example: 45.2
          type: number
        top_endpoints:
          items:
            $ref: '#/components/schemas/getUsage_200_response_summary_top_endpoints_inner'
          type: array
    getUsage_200_response_daily_inner:
      example:
        bytes: 5
        day_ms: 6
        requests: 1
        errors: 5
      properties:
        day_ms:
          format: int64
          type: integer
        requests:
          type: integer
        errors:
          type: integer
        bytes:
          type: integer
    getUsage_200_response:
      example:
        summary:
          total_errors: 12
          top_endpoints:
          - endpoint: endpoint
            count: 0
          - endpoint: endpoint
            count: 0
          total_bytes: 5242880
          total_requests: 1023
          avg_latency_ms: 45.2
        tier: starter
        key_id: key_abc123
        quota:
          monthly_limit: 15000
          resets_at_ms: 1740787200000
          monthly_used: 4231
          pct_used: 28
          grace_limit: 16500
        daily:
        - bytes: 5
          day_ms: 6
          requests: 1
          errors: 5
        - bytes: 5
          day_ms: 6
          requests: 1
          errors: 5
      properties:
        key_id:
          example: key_abc123
          type: string
        tier:
          example: starter
          type: string
        quota:
          $ref: '#/components/schemas/getUsage_200_response_quota'
        summary:
          $ref: '#/components/schemas/getUsage_200_response_summary'
        daily:
          items:
            $ref: '#/components/schemas/getUsage_200_response_daily_inner'
          type: array
    backtestReplay_200_response_meta:
      example:
        topics:
        - articles
        event_count: 1000
        filters_applied:
          key:
          - filters_applied
          - filters_applied
        from: 1740000000000
        to: 1740604800000
      properties:
        from:
          example: 1740000000000
          format: int64
          type: integer
        to:
          example: 1740604800000
          format: int64
          type: integer
        topics:
          example:
          - articles
          items:
            type: string
          type: array
        filters_applied:
          additionalProperties:
            items:
              type: string
        event_count:
          example: 1000
          type: integer
    backtestReplay_200_response:
      example:
        next_cursor: 12399
        meta:
          topics:
          - articles
          event_count: 1000
          filters_applied:
            key:
            - filters_applied
            - filters_applied
          from: 1740000000000
          to: 1740604800000
        has_more: true
        ok: true
        events:
        - cluster_id: 1523
          event_type: item.new
          payload: "{}"
          similarity: 0.82
          id: 12345
          embedding:
          - 0.8008281904610115
          - 0.8008281904610115
          ts: 1740000000000
        - cluster_id: 1523
          event_type: item.new
          payload: "{}"
          similarity: 0.82
          id: 12345
          embedding:
          - 0.8008281904610115
          - 0.8008281904610115
          ts: 1740000000000
      properties:
        ok:
          example: true
          type: boolean
        events:
          items:
            $ref: '#/components/schemas/BacktestEvent'
          type: array
        next_cursor:
          description: Cursor for the next page. Pass as `cursor` in the next request.
          example: 12399
          format: int64
          type: integer
        has_more:
          description: Whether more events are available after this page
          example: true
          type: boolean
        meta:
          $ref: '#/components/schemas/backtestReplay_200_response_meta'
    backtestReplayWithEmbeddings_request:
      properties:
        from:
          description: Start of time range (Unix milliseconds)
          example: 1740000000000
          format: int64
          type: integer
        to:
          description: End of time range (Unix milliseconds)
          example: 1740604800000
          format: int64
          type: integer
        topics:
          description: "Topic classes: `articles`, `stories`"
          example:
          - articles
          items:
            type: string
          type: array
        categories:
          example:
          - politics
          - business
          items:
            type: string
          type: array
        sources:
          example:
          - reuters
          items:
            type: string
          type: array
        keywords:
          example:
          - climate
          items:
            type: string
          type: array
        entities:
          example:
          - 42
          - 108
          items:
            type: integer
          type: array
        include_embeddings:
          default: false
          type: boolean
        embedding_filters:
          description: Max 1 embedding filter per request
          items:
            $ref: '#/components/schemas/BacktestEmbeddingFilter'
          type: array
        cursor:
          default: 0
          format: int64
          type: integer
        limit:
          default: 1000
          type: integer
      required:
      - from
      - to
    backtestReplayWithEmbeddings_200_response_meta:
      example:
        topics:
        - topics
        - topics
        event_count: 1
        filters_applied:
          key:
          - filters_applied
          - filters_applied
        from: 0
        to: 6
      properties:
        from:
          format: int64
          type: integer
        to:
          format: int64
          type: integer
        topics:
          items:
            type: string
          type: array
        filters_applied:
          additionalProperties:
            items:
              type: string
        event_count:
          type: integer
    backtestReplayWithEmbeddings_200_response:
      example:
        next_cursor: 12399
        meta:
          topics:
          - topics
          - topics
          event_count: 1
          filters_applied:
            key:
            - filters_applied
            - filters_applied
          from: 0
          to: 6
        has_more: true
        ok: true
        events:
        - cluster_id: 1523
          event_type: item.new
          payload: "{}"
          similarity: 0.82
          id: 12345
          embedding:
          - 0.8008281904610115
          - 0.8008281904610115
          ts: 1740000000000
        - cluster_id: 1523
          event_type: item.new
          payload: "{}"
          similarity: 0.82
          id: 12345
          embedding:
          - 0.8008281904610115
          - 0.8008281904610115
          ts: 1740000000000
      properties:
        ok:
          example: true
          type: boolean
        events:
          items:
            $ref: '#/components/schemas/BacktestEvent'
          type: array
        next_cursor:
          example: 12399
          format: int64
          type: integer
        has_more:
          example: true
          type: boolean
        meta:
          $ref: '#/components/schemas/backtestReplayWithEmbeddings_200_response_meta'
    StoryUpdateSignal_new_articles_inner:
      example:
        url_hash: url_hash
        title: title
        published_at: 0
        source_name: source_name
      properties:
        url_hash:
          type: string
        title:
          type: string
        source_name:
          type: string
        published_at:
          format: int64
          type: integer
    ArticleContent_tags_inner:
      example:
        score: 0.8008281904610115
        tag: tag
      properties:
        tag:
          type: string
        score:
          type: number
    ApiVersionInfo_sdk_recommendations:
      example:
        python: 0.1.0
        typescript: 0.1.0
      properties:
        typescript:
          example: 0.1.0
          type: string
        python:
          example: 0.1.0
          type: string
  securitySchemes:
    apiKeyQuery:
      description: Pass your API key as a `api_key` query parameter. Keys start with
        `nrf_`.
      in: query
      name: api_key
      type: apiKey
    bearerAuth:
      description: "Pass your API key in the `Authorization: Bearer <key>` header."
      scheme: bearer
      type: http
